// COLOR
//$color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

$color-primary: #1976d2;
$color-primary-light: #b3e5fc;
$color-primary-dark: #2979ff;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #4caf50;
$color-tertiary-dark: #00796b;

$color-fourth-light: #2998ff;
$color-fourth-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//NEW COLOR
$color-black-main: #18181e;
$color-black-light: #0d0d1100;
$color-black-dark: #18181e;
$color-tan-main: #dec79b;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
