.shape {
  width: 20rem;
  height: 20rem;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 40% 50%);
  position: relative;
  //transform: translateX(-3rem);

  &__img {
    height: 100%;
    transform: translateX(-1.8rem) scale(1); //center and zoom in/out effect
    transition: all 0.5s;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.7rem;
    opacity: 0;
    transition: all 0.5s;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-3rem) scale(2);
    filter: blur(3px) brightness(80%); //make image blur and darker
  }
}
